---
# Overwrite Tachyons here. Don't go overboard!
---
//
// @import "tachyons-sass/tachyons.scss";

// #post {
//   h1, h2, h3, h4, h5, h6 {
//     @extend .fw3, .f3;
//   }
//   h3 {
//     @extend .bb, .dib, .pb1;
//   }
//   a {
//     @extend .link, .underline-hover, .dim;
//   }
//   p {
//     @extend .lh-copy, .w-100;
//   }
//   img {
//     @extend .w-100;
//   }
//   figure {
//     @extend .ma0;
//   }
// }
//
//
// #main-list {
//
//   a {
//     @extend .link, .black, .dim, .bb, .bw1;
//   }
//

// }
// .z-neg-100 {
//   z-index: -100;
// }



img {
width: 100%;
}

a {

	-webkit-transition: color .15s ease-in;
	transition: color .15s ease-in;
	opacity: 1;
	text-decoration: none;

}

@media screen and (min-width: 30em) {
.w-max-home { width: calc(902px * 10); }
.w-max-art  { width: calc(902px * 7); }
}


@media screen and (min-width: 30em) {
.w6 {    width: 900px; }
}
.lh-body  { line-height: 1.25; }

.very-center {
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin: -80px 0 0 -90px;
}

.blur {
  &:hover {
    margin-bottom: -5px;
    filter: drop-shadow(5px 5px 5px red);
    filter: blur(3px);
  }
  -webkit-transition: filter .05s; /* Safari */
  transition: filter .05s;
}



.PageNavigation {
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
	text-decoration: none;
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
