---
layout: default
---
<div class="pr2 pt6 pt4-ns w-max-art vh-100 overflow-hidden-ns">
  {% for post in site.posts %}
    {% if post.categories contains 'art' %}

		<!-- change back to {{ site.baseurl }} -->
      <a class="link black" href= "{{ post.url }}">
        <div class="fl-ns pa2 pt3 w6 mw7-m mw-100-ns vh-100-ns overflow-scroll-ns">
          <h1 class="fw4 f3 mv0">{{ post.title }}</h1>
          <h2 class="f3 serif i fw2 mv0">{{ post.type }}</h2>
          <div class="f4 lh-body pb2">{{ post.content }}</div>
        </div>
      </a>
    {% endif %}
  {% endfor %}
  <div class="cf"></div>
</div>

<div class="fixed very-center w5 z-1 blur">
  <a href="index.html">
    <img src="images/overlayimage/work-2.png" alt="home"/>
  </a>
</div>
