---
layout: page
---
<div class="bg-white f3 lh-body link black cc0 cc3-ns ">
  <div class="">
    <p class="mt0">Joe Letchford is a multi-disciplinary graphic designer from Richmond, Virginia currently taking root in San Francisco focusing on print and digital design solutions. He thrives in collaboration and focus on systematic design solutions, whether in his personal practice or professional.
      <p class=""> Joe's personal work focuses predominately on exploring the natural environment and the different ways that we as a digitally literate society interact with it. </p>

    <h2 class="f3 fw4 lh-body">Features&#8595</h2>
    <ul class="list pl0">
      {% for feature in site.data.features %}
        <li><a class="link black dim bb bw1" href="{{ feature.url }}">{{ feature.name }}</a></li>
      {% endfor %}
    </ul>

  	<h2 class="f3 fw4 lh-body">You can find more of Joe's digital persona at any of these three places &#8595 </h2>
    <ul class="list pl0">
      {% for social in site.data.social %}
        <li><a class="link black dim bb bw1" href="{{ social.url }}">{{ social.name }}</a></li>
      {% endfor %}
    </ul>

  	<h2 class="f3 fw4 lh-body">Or write sweet nothings to him here &#8595</h2>
    <ul class="list pl0">
      <li>{{ site.email }}</li>
    </ul>
  </div>
</div>
