/**
 * Site header
 */
 // nav stuff

.navigation {
  display: none;
  @media screen and (max-width: $on-laptop) {
      display: block;
      position: fixed;
      margin: 10px;
      padding: 20px;
      bottom: 10px;
      left: 15px;
      // width: px;
      z-index: 1000;}
  .snapnav{
    display: inline;
    font-family: $list-font;
    letter-spacing: .02em;
    float: left;
    background: #fff;
    }
  }

.site-title {
  font-family: $base-font;
  font-size: 2em;
  color: $text-color;
  letter-spacing: .02em;
  float: left;
  background: #fff;
  border-bottom: 2px solid #000;
  padding-left: 2px;
  padding-top: 5px;
  padding-right: 0px;
  padding-bottom: 5px;
  -webkit-transition: .2s all;
  transition: .2s all;
	text-decoration: none;
  &:hover {
    background: #000;
    color: #fff;
  }
}

.site-header {
  margin-top: 15px;
  margin-left: 30px;

    top: 0;
    font-family: $base-font;
    position: fixed;

    a {
      text-decoration: none;
    }
}


.about-overlay {
    font-family: $base-font;
    color: #000;
    background-color: #fff;
    margin: 1%;
    padding: 2%;
    line-height: 1.8em;
    font-size: 1.4em;
    border: 2px solid #000;
    order:2;
    /*display:fixed;*/
  -webkit-columns: 2 auto;
  -moz-columns: 2 auto;
  columns: 2 auto;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap:2em;
    p {
      margin: 0 0 25px 0;
    }
    a {
      font-family: serif;
      font-style: italic;
      font-size: 1.1em;
      padding: 1px 0;
      border-bottom: 2px solid #000;
      text-decoration: none;
      color: #000;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
    }
    a:hover {
      color: red;
        border-bottom: 2px solid white;

    }
    li {
      list-style-type: none;
      margin-bottom: 7px;
    }
}

.about-wrapper {
  display: none;
  overflow: scroll;
  position: fixed;
  z-index: 10;
  margin: 0;
  top: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, .8);
}
