<!-- <div class="bg-white vh-100 pa2 f4 lh-body">
  <div class="cc0 cc2-ns cg0 cg3-ns">
    <p class="mt0"><span class="f3 lh-solid pb0"><a class="link black bb bw1" href="#" onclick="toggle_visibility('about');">Joe Letchford</a></span> is an American graphic designer pursuing his MFA from the <a href="http://www.mcad-mfa.com/">Minneapolis College of Art and Design.</a></p>
    <p>His personal work focuses predominately <option value=""></option> exploring the natural environment and the different ways that we as a digitally  literate society interact with it.</p>
    <p>Joe’s work has and will always be in a state of flux, one that is constantly changing—maybe not drastically—but certainly always. Always growing from successful and unsuccessful ideas. Re-working the thoughts and sharpening the concepts, Joe is always chiseling out the framework of his methods of production and thought process.</p>
  	<p>He is constantly working.</p>

    <h2 class="f4 fw4 lh-body">Features&#8595</h2>
    <ul class="list pl0">
      {% for feature in site.data.features %}
        <li><a class="link black bb bw1" href="{{ feature.url }}">{{ feature.name }}</a></li>
      {% endfor %}
    </ul>

  	<h2 class="f4 fw4 lh-body">You can find more of Joe's digital persona at any of these three places &#8595 </h2>
    <ul class="list pl0">
      {% for social in site.data.social %}
        <li><a class="link black bb bw1" href="{{ social.url }}">{{ social.name }}</a></li>
      {% endfor %}
    </ul>

  	<h2 class="f4 fw4 lh-body">Or write sweet nothings to him here &#8595</h2>
    <ul class="list pl0">
      <li>{{ site.email }}</li>
      <li>{{ site.tele }}</li>
    </ul>
  </div>
</div> -->
