<header class="pa2 pb3 fixed tc w-100 bg-white dt-ns">
	<div class="">
  <a class="link black w-100 w-third-ns tc tl-ns fl-ns dim" href="{{ site.baseurl }}/index.html">{{ site.title }}</a>
	</div>
		<div class="">
  <a class="link black  w-100 w-third-ns fl-ns tc-ns dim" href="{{ site.baseurl }}/information.html">Information</a>
	</div>
		<div class="">
  <a class="link black w-100  w-third-ns fl-ns tr dim" href="{{ site.baseurl }}/urban.html">UrbanStems</a>
	</div>
</header>

<div id="about" class="z-100 absolute dn">{% include about.html %}</div>
