::-webkit-scrollbar {
  display: none;
}

.page-content {
    margin: 30px;
    margin-top: 0;
    }

.overlayimage {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin: -80px 0 0 -90px;
}

.title {
  font-family: $base-font;
  font-size: 2em;
}

.type {
  font-family: serif;
  font-style: italic;
  font-size: 1.8em;
}
  .title {
    margin: 100px 0 7px 0;
  }
  p {
    margin: 20px 0;
    font-family: $base-font;
    font-size: 1.2em;
    line-height: 1.6em;
    letter-spacing: .02em;
  }
  img {
    width: 100%;
    margin: 10px 0;
  }
}

.projects {
  z-index: -10;
  width: 6640px;
  top: 0;
  position: absolute;

        @media (min-width: #{$small-range})  {
          @content;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: auto;
        overflow: visible;
      }
}



.projects-art{
    z-index: -10;
    width: 2700px;
    top: 0;
    position: absolute;
}

.project {
  width: 900px;
  float: left;
  height: 100vh;
  overflow: scroll;
  padding: 0 25px 10px 0;
  margin: 0 25px 0 0;
  border-right: 2px solid black;
  &:last-of-type {
    margin-right: 0;
    border-right: none;
  }
