::-webkit-scrollbar {
  display: none;
}

.page-content {
  margin: 30px;
  @include media-query($on-palm) {
    margin: 0 30px;
    position: relative;
  }
}

.overlayimage {
  position: fixed;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin: -80px 0 0 -90px;
  @include media-query($on-small) {
    width: 45%;
    left: 50%;


  }
}


.title {
  font-family: $base-font;
  font-size: 2em;
  @include media-query($on-small) {
    font-size: 1.5em;
  }
}

.type {
  font-family: serif;
  font-style: italic;
  font-size: 1.8em;
  @include media-query($on-small) {
font-size: 1.2em;
  }
}

.project {
  width: 1024px;
  float: left;
  height: 100vh;
  overflow: scroll;
  padding: 0 25px 10px 0px;
  margin: 0px 25px 0px 0px;
  border-right: 2px solid black;
  @include media-query($on-laptop) {
    width: 900px;
    float: left;
    height: 100vh;
    overflow: scroll;
    padding: 0 25px 10px 0px;
    margin: 0px 25px 0px 0px;
    border-right: 2px solid black;


  }
  @include media-query($on-palm) {
     float: none;
     width: 100%;
     height: auto;
     border: none;
     padding: 0;
    border-bottom: 2px solid black;
   }
  &:last-of-type {
    margin-right: 0;
    border-right: none;
  }
  .title {
    margin: 100px 0 7px 0;
  }
  p {
    margin: 20px 0;
    font-family: $base-font;
    font-size: 1.2em;
    line-height: 1.6em;
    letter-spacing: .02em;
    @include media-query($on-laptop) {
      font-size: 1.1em;
      line-height: 1.3em;}
  }
  img {
    width: 100%;
    margin: 10px 0;
  }
}

.projects, .projects-art {
  z-index: -10;
  top: 0;
  width: calc(1070px * 4);
  position: absolute;
  display: inline-block;
    @include media-query($on-laptop) {
      width: calc(955px * 4);
      position: absolute;
      display: inline-block;


    }
  @include media-query($on-palm) {
    width: auto;
  }
}

.projects-art {
  width: calc(1075px * 4);
    @include media-query($on-laptop) {
      width: calc(955px * 4);
      position: absolute;
      display: inline-block;

    }
  @include media-query($on-palm) {
    width: auto;
  }
}
