body {
    font-family: $base-font;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    letter-spacing: $base-letter-spacing;
}

.section-title {
  padding: 3px 6px;
}

.container {

}

/**
 * Page content
 */
.page-content {
    margin: 3%;
    margin-top: 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    z-index: -25;

    > li {

    }
}



/**
 * Posts
 */

.post {
    max-width: 700px;
    margin: 0 auto;

    img {
        margin: 0 0 70px 0;
        max-width: 300px;
    }
}

.post-header {

}

.post-title {
    font-size: 42px;
    line-height: 1;
    font-family: "kepler-std-semicondensed-cap", serif;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1.5em;

    p {
      margin: 35px 0;
      font-family: $base-font;
      font-size: .8em;
      letter-spacing: .03em;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
