// Posts

.posts {
  max-width: 70%;
  .post {
    padding: 0 0 80px 0;
    .title {
      font-family: $base-font;
      margin: 0 0 20px 0;
      color: $theme-color;
      font-size: 2.5em;
      a {
        color: $theme-color;
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
        &:hover {
          text-decoration: none;
          opacity: .7;
        }
      }
    }
    p {
      margin: 0 0 10px 0;
      font-family: $body-font;
      font-size: .9em;
      line-height: 1.6em;
    }
    .date {
      font-family: $base-font;
      margin: 20px 0;
      font-size: 1.2em;
    }
    .link {
      font-family: $base-font;
      font-size: 1.2em;
      margin: 40px 0 0 0;
      font-weight: 500;
      letter-spacing: .1em;
      a {
        color: #000;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
